@charset "UTF-8";

/* TODAS AS DEMAIS MÍDIAS*/

@media print {
    
}

@media sreen and (min-width: 768px) and (max-width: 992px) {
   body{
      background-image: url(../imagens/back-tablet.jpg);
   }
   img#phone { display: block; }
   img#tablet { display: none; }
   img#print { display: none; }
   img#pc { display: none; }
   img#tv { display: none; }
}

@media sreen and (min-width: 992px) and (max-width: 1200px){

   body{
      background-image: url(../imagens/back-pc.jpg);
   }

   img#phone { display: block; }
   img#tablet { display: none; }
   img#print { display: none; }
   img#pc { display: none; }
   img#tv { display: none; }
}

@media sreen and (min-width: 1200px){
   body{

      background-image: url(../imagens/back-tv.jpg);
   }


   img#phone { display: block; }
   img#tablet { display: none; }
   img#print { display: none; }
   img#pc { display: none; }
   img#tv { display: none; }

}